/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
    scroll-behavior: smooth; 
  }
  
  
  .navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s;
  }
  
  .navbar.scrolled {
    background-color: #5f0979;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  
  .nav-logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    display: inline;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-menu a:hover {
    color: #00d4ff;
    transform: scale(1.1); 
  }
  
  
  .hero-section {
    background: linear-gradient(90deg, #5f0979 0%, rgba(95,9,121,1) 35%, rgba(0,212,255,1) 90%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    padding-top: 60px; 
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards; 
  }
  
  .hero-section .container {
    max-width: 800px;
  }
  
  .hero-section h1 {
    font-size: 40px;
    margin: 0 0 20px;
  }
  
  .hero-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .hero-section button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .hero-section button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1); 
  }
  
  
  section {
    padding: 60px 20px;
    text-align: center;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
  }
  
  section .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0; 
  }
  
  
  .in-view {
    opacity: 1;
    transform: translateY(0);
  }
  